* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  background-color: none;
}
img {
  width: 100%;
}
.section-title {
  text-align: center;
  padding: 60px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}
.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background-color: var(--secondary);
}
